/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --light: #888;
  --lighter: #eee;
  --navy: #8b6fcb;
  --blue: #3273dc;
  --white: #fff;
  --darker: #555;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--navy);
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img,
video,
.post-paging {
  max-width: 37.5em;
}

img,
video {
  border: 1px solid var(--gray);
}

blockquote {
  margin-left: 0;
  padding-left: 0.75em;
  border-left: 3px solid var(--gray);
}

p,
.tmpl-post li {
  line-height: 1.45;
}

.tmpl-post ul {
  list-style: none;
  text-indent: -1rem;
  padding-left: 1.5rem;
}

.tmpl-post ul>li:before {
  content: "–";
  text-indent: -1rem;
  margin-right: .5rem;
}

.tmpl-post time {
  margin-right: 1em;
  font-style: italic;
}

main {
  padding: 0 1rem 1rem;
}

header {
  padding: 1rem;
}

header h1 {
  font-size: 1.25em;
}

header h1 a,
header h1 a:visited {
  text-decoration: none;
  color: var(--darkgray);
}

table {
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 95%;
}

table td,
table th {
  padding: 0.3em 1em 0.3em 0.5em;
}

table thead tr {
  background-color: var(--darker);
  color: #ffffff;
  text-align: left;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid var(--darker);
}


pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}

p code,
li code,
blockquote code {
  font-size: 85%;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  background-color: var(--lighter);
}

/* Header */
.nav {
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 0.25em;
}

.nav-item a,
.nav-item a:visited {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
}

.postlist {
  padding: 0;
}

.postlist-item {
  display: flex;
  margin-bottom: 0.75em;
}

.postlist-item>* {
  display: flex;
  flex-direction: column;
}

.postlist-date {
  font-style: italic;
  min-width: 100px;
}

.postlist-link {
  margin-bottom: 0.2em;
}

.post-tags {
  margin-top: 2em;
}

.post-tag,
.post-tag:visited {
  text-decoration: none;
  color: var(--light);
}

.post-tag:hover {
  text-decoration: underline;
}

.post-paging {
  margin: 3em 0 0;
  padding: 1em 0 0;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  border-top: 1px solid var(--light);
}

.post-paging>li:last-child {
  text-align: right;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em;
}

.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover>a[href].direct-link,
:hover>a[href].direct-link:visited {
  color: #aaa;
}

footer {
  margin-bottom: 3em;
}