@import url("https://rsms.me/inter/inter-ui.css");

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ============================= */

body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

article {
  box-sizing: border-box;
  max-width: 640px;
  margin:0px auto;
  line-height: 1.666666;
  padding: 2rem 1rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin: 3rem 0 2rem 0;
}

a {
  text-decoration: none;
  color: inherit;
  border-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

pre {
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding: 1rem;
}

code {
  font-family: 'Source Code Pro', monospace;
}

pre code {
  white-space: pre-wrap;
}

p code, li code, td code {
  background-color: #f9f9f9;
  padding: 0.25rem;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 2rem;
  text-indent: -1rem;
}

ul > li:before {
  content: "–";
  text-indent: -1rem;
  margin-right: .5rem;
}

hr {
  margin-top: 3rem;
}